<div id="newSauceForm">
<h1>New Sauce</h1>

<%= render 'form', sauce: @sauce %>

<table id="ingredientList">
	<tr>
		<th colspan="2" class="ingredientOrigin">Ingredients to choose from</th>
	</tr>
	<tr>
		<th class="ingredientOrigin">Nick and Hak Farms</strong></th>
		<th class="ingredientOrigin">Hot Sauce Farm</strong></th>
	</tr>
	<tr>
		<td class="ingredient">Hak Man</td>
		<td class="ingredient">Turkish Pepper</td>
	</tr>
	<tr>
		<td class="ingredient">James Sweet</td>
		<td class="ingredient">Sweet Pepper</td>
	</tr>
	<tr>
		<td class="ingredient">Crews</td>
		<td class="ingredient">Sumac</td>
	</tr>
	<tr>
		<td class="ingredient">Joel</td>
		<td class="ingredient">Serrano</td>
	</tr>
	<tr>
		<td class="ingredient">Nick</td>
		<td class="ingredient">New Mexico Chili</td>
	</tr>
	<tr>
		<td class="ingredient">Habanero</td>
		<td class="ingredient">Cayenne</td>
	</tr>
</table>

<div id="newSauceBack">
<%= link_to 'Back', sauces_path %>
</div>
</div>